@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Document */
.banner_background {
  background-image: url("/src/assets/crops/crops.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
